In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Count Total Players
total_players = len(purchase_data['SN'].value_counts())

# print total players in table
total_players_df = pd.DataFrame(data={'Total Players': [total_players]})
total_players_df

   Total Players
0            576

In [3]:
# Count Item Numbers
unique_items = len(purchase_data['Item ID'].value_counts())

# Get Average Price
avg_price = round(purchase_data['Price'].mean(), 2)

# get purchase number
num_purchases = len(purchase_data['Purchase ID'])

# get total revenue
total_revenue = purchase_data['Price'].sum()

# print out purchase summary table
purchase_summary = pd.DataFrame(data={'Number of Unique Items': [unique_items],
                                     'Average Price': [avg_price],
                                     'Number of Purchases': [num_purchases],
                                     'Total Revenue': [total_revenue]})

purchase_summary

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0           3.05                  780                     183        2379.77

In [4]:
# drop dupliate players
player_list = purchase_data.drop_duplicates(subset=['SN'])

In [5]:
# get gender count
gender_demo_count = player_list.groupby('Gender')['Gender'].count()

In [6]:
# get gender count percentage
gender_demo_percent = [ round(item / total_players * 100, 2)for item in gender_demo_count]

In [7]:
# print gender demographics summary table
gender_demo_sum = pd.DataFrame({
    'Total Count': gender_demo_count,
    'Percentage of Players': gender_demo_percent
})
gender_demo_sum

                       Percentage of Players  Total Count
Gender
Female                                 14.06           81
Male                                   84.03          484
Other / Non-Disclosed                   1.91           11

In [8]:
#
gender_purchase_source = purchase_data[['Gender', 'Price', 'SN']]

In [9]:
gender_purchase_group = gender_purchase_source.groupby('Gender')

In [10]:
gender_purchase_count = gender_purchase_group['Gender'].count()

In [11]:
gender_purchase_avg = round(gender_purchase_group['Price'].mean(), 2)

In [12]:
gender_purchase_total = gender_purchase_group['Price'].sum()

In [13]:
gender_purchase_avg_per_person = round(gender_purchase_total / gender_demo_sum['Total Count'], 2)

In [14]:
# print Purchasing Analysis (Gender) table
gender_purchase_sum = pd.DataFrame({
    'Purchase Count': gender_purchase_count,
    'Average Purchase Price': gender_purchase_avg,
    'Total Purchase Value': gender_purchase_total,
    'Avg Total Purchase per Person': gender_purchase_avg_per_person
})
gender_purchase_sum

,Average Purchase Price,Avg Total Purchase per Person,Purchase Count,Total Purchase Value
Gender,,,,
Female,3.20,4.47,113,361.94
Male,3.02,4.07,652,1967.64
Other / Non-Disclosed,3.35,4.56,15,50.19

In [15]:
# get age ranges
purchase_data['Age'].unique()

array([20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 11,  7, 19, 37, 10,  8,
       18, 27, 33, 32, 25, 12, 34, 17, 15, 13, 26, 16, 28, 31, 39, 44, 41,
        9, 14, 42, 43, 45])

In [16]:
# list of age bins and age labels 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
age_label = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [17]:
# get the data needed for Age Demographics
age_demo_source = player_list[['Age']]

In [19]:
# slice age by groups
age_demo_source['Age Group'] = pd.cut(age_demo_source['Age'], age_bins, labels=age_label)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
age_demo_sum =age_demo_source.groupby('Age Group').count()

In [22]:
age_demo_sum['Percentage of Players'] = [round(item / total_players * 100, 2) for item in age_demo_sum['Age']]

# print the Age Demographics table
age_demo_sum

           Age  Percentage of Players
Age Group
<10         17                   2.95
10-14       22                   3.82
15-19      107                  18.58
20-24      258                  44.79
25-29       77                  13.37
30-34       52                   9.03
35-39       31                   5.38
40+         12                   2.08

In [23]:
age_purchase_source = purchase_data[['Age', 'Price']]
age_purchase_source['Age Group'] = pd.cut(age_purchase_source['Age'], age_bins, labels=age_label)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
age_purchase_count = age_purchase_source.groupby('Age Group')['Age'].count()

In [25]:
age_purchase_avg = round(age_purchase_source.groupby('Age Group')['Price'].mean(), 2)

In [26]:
age_purchase_total = age_purchase_source.groupby('Age Group')['Price'].sum()

In [27]:
age_purchase_ave_by_person = [round(age_purchase_total[i] / age_demo_sum['Age'][i], 2) for i in range(len(age_purchase_count))]

In [28]:
age_purchase_sum = pd.DataFrame({'Purchase Count': age_purchase_count,
                                 'Average Purchase Price': age_purchase_avg,
                                 'Total Purchase Value': age_purchase_total,
                                 'Avg Total Purchase per Person': age_purchase_ave_by_person})

# print the Purchasing Analysis (Age) table
age_purchase_sum

,Average Purchase Price,Avg Total Purchase per Person,Purchase Count,Total Purchase Value
Age Group,,,,
<10,3.35,4.54,23,77.13
10-14,2.96,3.76,28,82.78
15-19,3.04,3.86,136,412.89
20-24,3.05,4.32,365,1114.06
25-29,2.90,3.81,101,293.00
30-34,2.93,4.12,73,214.00
35-39,3.60,4.76,41,147.67
40+,2.94,3.19,13,38.24

In [29]:
# get data need for Top Spenders
top_buyer_source = purchase_data[['SN', 'Price']]

In [30]:
top_buyer_count = top_buyer_source.groupby('SN')['SN'].count()

In [31]:
top_buyer_avg = round(top_buyer_source.groupby('SN')['Price'].mean(), 2)

In [32]:
top_buyer_total = top_buyer_source.groupby('SN')['Price'].sum()

In [38]:
top_buyer_sum = pd.DataFrame({
    'Purchase Count': top_buyer_count,
    'Average Purchase Price': top_buyer_avg,
    'Total Purchase Value': top_buyer_total
})

In [39]:
top_buyer_sum = top_buyer_sum.sort_values(by='Total Purchase Value', ascending=False)

In [40]:
# print top 5 spender table
top_buyer_sum[0:5]

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Lisosia93                      3.79               5                 18.96
Idastidru52                    3.86               4                 15.45
Chamjask73                     4.61               3                 13.83
Iral74                         3.40               4                 13.62
Iskadarya95                    4.37               3                 13.10

In [41]:
popular_item_source = purchase_data[['Item ID', 'Item Name', 'Price']]

In [42]:
popular_item_index = popular_item_source.groupby(['Item ID', 'Item Name'])

In [43]:
popular_item_count = popular_item_index['Item ID'].count()

In [44]:
popular_item_total = popular_item_index['Price'].sum()

In [45]:
popular_item_sum = pd.DataFrame({
    'Purchase Count': popular_item_count,
    'Item Price': popular_item_index['Price'].sum()/popular_item_index['Price'].count(),
    'Total Purchase Value': popular_item_total
})

In [46]:
# print top 5 most popular items
popular_item_sum.sort_values(by='Purchase Count', ascending=False)[0:5]

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,Fiery Glass Crusader,4.58,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
82,Nirvana,4.90,9,44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16

In [47]:
profit_item_sum = popular_item_sum.sort_values(by='Total Purchase Value', ascending=False)[0:5]

In [48]:
# print top 5 most profitable items
profit_item_sum

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80