In [2]:
import pandas as pd

In [3]:
path = 'budget_data.csv'
df = pd.read_csv(path)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
totalMonth = len(df['Date'].unique())
totalMonth

86

In [5]:
total = df['Profit/Losses'].sum()
total

38382578

In [13]:
changes = 0

profit = df['Profit/Losses']
for i in range(profit.size - 1):
    change = profit[i + 1] - profit[i]
    changes += change
    
averageChange = changes / (profit.size - 1)
averageChange

-2315.1176470588234

In [7]:
maxIncrease = df.loc[profit.idxmax]
maxIncrease

Date             Feb-2012
Profit/Losses     1170593
Name: 25, dtype: object

In [8]:
maxDecrease = df.loc[profit.idxmin]
maxDecrease

Date             Sep-2013
Profit/Losses    -1196225
Name: 44, dtype: object

In [14]:
exp = open('budget_output.txt', 'w')
print('Financial Analysis\n'
      '----------------------------\n'
      'Total Months: ' + str(totalMonth) + '\n'
      'Total: $' + str(total) + '\n'
      'Average  Change: $' + str(averageChange) + '\n'
      'Greatest Increase in Profits: ' + str(maxIncrease['Date']) + '($' + str(maxIncrease['Profit/Losses']) + ')\n'
      'Greatest Decrease in Profits: ' + str(maxDecrease['Date']) + '($' + str(maxDecrease['Profit/Losses']) + ')', file=exp)