In [1]:
import pandas as pd
import os

In [2]:
path = 'election_data.csv'
df = pd.read_csv(path)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
totalVotes = df['Voter ID'].count()
totalVotes

3521001

In [4]:
candidates = df['Candidate'].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [5]:
votes = pd.value_counts(df['Candidate'].values)
votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
dtype: int64

In [24]:
percents = [round(vote / totalVotes * 100, 3) for vote in votes ]
percents

[63.0, 20.0, 14.0, 3.0]

In [25]:
result = pd.DataFrame(votes, columns=['vote'])
result

             vote
Khan      2218231
Correy     704200
Li         492940
O'Tooley   105630

In [26]:
result['percent'] =percents
result

             vote  percent
Khan      2218231     63.0
Correy     704200     20.0
Li         492940     14.0
O'Tooley   105630      3.0

In [27]:
winner = result['vote'].idxmax()
winner

'Khan'

In [28]:
export = open('vote_result.txt', 'w')
print("Election Results\n"
      "-------------------------\n"
      "Total Votes: " + str(totalVotes) + "\n"
      "-------------------------\n"
      "Khan: " + str(result['percent'][0]) + "% (" + str(result['vote'][0]) + ")\n"
      "Correy: " + str(result['percent'][1]) + "% (" + str(result['vote'][1]) + ")\n"
      "Li: " + str(result['percent'][2]) + "% (" + str(result['vote'][2]) + ")\n"
      "O'Tooley: " + str(result['percent'][3]) + "% (" + str(result['vote'][3]) + ")\n"
      "-------------------------\n"
      "Winner: " + winner + "\n"
      "-------------------------\n", file=export)